/* =Main Styles
__________________________________*/
@font-face {
	font-family: 'PT Sans';
	src: url('../../fonts/PTSans-Bold.eot');
	src: url('../../fonts/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
	     url('../../fonts/PTSans-Bold.ttf') format('truetype'),
	     url('../../fonts/PTSans-Bold.svg#PTSansBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
	height:100%;
}

html {
	font-size: 100.01%;
}

body {
	font: .75em Arial, Helvetica, sans-serif; /* 12px */
	color: #2D3038;
	background: #fff;
	min-width: 1000px;
}

input {
	font-family: Arial, Helvetica, sans-serif;
}

a {
	color: #0078C7;
	text-decoration: none;
	outline: none;
}

.g-clrfix {
	zoom: 1;
}

.g-clrfix:after {
	content: '.';
	display: block;
	clear: both;
	font: 0/0 a;
	height: 0;
	visibility: hidden;
}

.g-scrollable {
	height: 100%;
	position: relative;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
	/* Поломано в Google Chrome - http://code.google.com/p/chromium/issues/detail?id=124559 */
	/*-webkit-overflow-scrolling: touch;*/
}

.g-definition {
	color: inherit !important;
	text-decoration: none;
}

.g-clickable {
	cursor: pointer;
}

.g-hidden {
	display: none;
}

.g-vis_hidden {
	visibility: hidden;
}

.g-floated {
	float: left;
}

.g-opacity {
	opacity: 0;
}

.g-text-overflow {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

.g-empty-placeholder {
	color: #6d6d6d;
}

.g-uppercase {
	text-transform: uppercase;
}

.g-ns {
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.g-nc-link {
	color: inherit !important;
	border-bottom: 1px dashed;
}

.g-nb {
	border: none;
}

.g-delimiter {
	width: 100%;
	clear: both;
	display: block;
	height:0;
}

.g-rubl {
	font-family: 'ALS Rubl';
}

.g-bold {
	font-weight: bold;
}

.g-sup {
	font-size: .7em;
	vertical-align: super;
	margin-top: -3px;
	display: inline-block;
}

.g-cursor_crosshair {
	cursor: crosshair !important;
}
