@import '../common/reset';
@import '../common/global';

.l-layout {
	min-height: 100%;
	overflow: hidden;
}

.l-wrapper,
.l-content {
	height: 100%;
}

.l-container {
	max-width: 1400px;
	min-width: 1000px;
}