/* line 9, ../../scss/common/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 19, ../../scss/common/reset.scss */
html {
  -webkit-font-smoothing: antialiased;
}

/* line 23, ../../scss/common/reset.scss */
body {
  line-height: 1;
}

/* line 27, ../../scss/common/reset.scss */
ol, ul {
  list-style: none;
}

/* line 31, ../../scss/common/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 38, ../../scss/common/reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
/* line 44, ../../scss/common/reset.scss */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
/* line 49, ../../scss/common/reset.scss */
ins {
  text-decoration: none;
}

/* line 53, ../../scss/common/reset.scss */
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 58, ../../scss/common/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 63, ../../scss/common/reset.scss */
textarea {
  overflow: auto;
  /* for IE */
  resize: none;
}

/* line 68, ../../scss/common/reset.scss */
fieldset {
  border: 0 solid transparent;
}
