<ul>
	<li>
		<img src="http://farm4.static.flickr.com/3639/3319814586_dd9c1141dd.jpg?v=0" alt="example pic flicker 2" width="500" height="335" /> <cite><a class="image_link" href="/creativecommons/"><img width="16" height="16" class="trans_png" alt="Licence Creative Commons" src="http://l.yimg.com/g/images/home_cc.png"/></a> By <a href="http://www.flickr.com/photos/tanchristianr/">Don Takz</a></cite>
	</li>
	<li>
		<img src="http://l.yimg.com/g/images/home_photo_notsogoodphotography.jpg" alt="example pic flicker 1" width="500" height="335" /> <cite><a href="http://www.flickr.com/creativecommons/"><img width="16" height="16" class="trans_png" alt="Licence Creative Commons" src="http://l.yimg.com/g/images/home_cc.png"/></a> Par <a href="http://www.flickr.com/photos/notsogoodphotography/">notsogoodphotography</a></cite>

	</li>
	<li>
		<img src="http://l.yimg.com/g/images/home_photo_junku.jpg" alt="example pic flicker 2" width="500" height="335" /> <cite><a href="http://www.flickr.com/creativecommons/"><img width="16" height="16" class="trans_png" alt="Licence Creative Commons" src="http://l.yimg.com/g/images/home_cc.png"/></a> By <a href="http://www.flickr.com/photos/junku-newcleus/">junku-newcleus</a></cite>
	</li>
	<li>
		<img src="http://l.yimg.com/g/images/home_photo_pmorgan.jpg" alt="example pic flicker 2" width="500" height="335" /> <cite><a class="image_link" href="http://www.flickr.com/creativecommons/"><img width="16" height="16" class="trans_png" alt="Licence Creative Commons" src="http://l.yimg.com/g/images/home_cc.png"/></a> By <a href="http://www.flickr.com/photos/pmorgan/">pmorgan</a></cite>

	</li>
</ul>