<!DOCTYPE html>
<html lang="en" ng-app="todomvc">
	<head>
		<title>AngularJS + Thorax • TodoMVC</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<link rel="stylesheet" href="../../static/styles/css/doubleapp/main.css" />
		<style>[ng-cloak] {display: none}</style>

		<!-- Init Section -->
			<script type="text/javascript" src="../../static/js/loader.min.js"></script>
			<script type="text/javascript" src="../../static/js/apps/todoangular/location.js"></script>
			<script type="text/javascript" src="../../static/js/apps/todoangular/files.js"></script>
			<script type="text/javascript" src="../../static/js/apps/todothorax/location.js"></script>
			<script type="text/javascript" src="../../static/js/apps/todothorax/files.js"></script>
			<script type="text/javascript">
				// Инициализируем приложение TodoMVC на фреймворке Angular.
				new WebApp.Loader('TodoAngular', {
					loadOptions: {
						recipe: 'angular',
						useLocationFix: true
					}
				});

				// Инициализируем приложение TodoMVC на фреймворке Thorax.
				new WebApp.Loader('TodoThorax', {
					loadOptions: {
						recipe: 'thorax',
						containerSelector: '#thorax-container'
					}
				});
			</script>
		<!-- Init Section -->
	</head>
	<body class="l-wrapper">
		<div class="b-columns b-columns--2col">
			<div class="b-column">
				<div class="b-column-indent">
					<section id="todoapp" ng-controller="TodoCtrl">
						<header id="header">
							<h1>todos</h1>
							<form id="todo-form" ng-submit="addTodo()">
								<input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" autofocus>
							</form>
						</header>
						<section id="main" ng-show="todos.length" ng-cloak>
							<input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
							<label for="toggle-all">Mark all as complete</label>
							<ul id="todo-list">
								<li ng-repeat="todo in todos | filter:statusFilter" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
									<div class="view">
										<input class="toggle" type="checkbox" ng-model="todo.completed">
										<label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
										<button class="destroy" ng-click="removeTodo(todo)"></button>
									</div>
									<form ng-submit="doneEditing(todo)">
										<input class="edit" ng-model="todo.title" todo-blur="doneEditing(todo)" todo-focus="todo == editedTodo">
									</form>
								</li>
							</ul>
						</section>
						<footer id="footer" ng-show="todos.length" ng-cloak>
							<span id="todo-count"><strong>{{remainingCount}}</strong>
								<ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
							</span>
							<ul id="filters">
								<li>
									<a ng-class="{selected: location.path() == '/'} " href="#/">All</a>
								</li>
								<li>
									<a ng-class="{selected: location.path() == '/active'}" href="#/active">Active</a>
								</li>
								<li>
									<a ng-class="{selected: location.path() == '/completed'}" href="#/completed">Completed</a>
								</li>
							</ul>
							<button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed ({{completedCount}})</button>
						</footer>
					</section>
					<footer id="info">
						<p>Double-click to edit a todo</p>
						<p>Credits:
							<a href="http://twitter.com/cburgdorf">Christoph Burgdorf</a>,
							<a href="http://ericbidelman.com">Eric Bidelman</a>,
							<a href="http://jacobmumm.com">Jacob Mumm</a> and
							<a href="http://igorminar.com">Igor Minar</a>
						</p>
						<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
					</footer>
				</div>
			</div>
			<div class="b-column b-column--last">
				<div id="thorax-container" class="b-column-indent"></div>
			</div>
		</div>
	</body>
</html>