@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/marrow\/static\/styles\/scss\/perfapp\/main\.scss}line{font-family:\000031}}
.l-wrapper {
  font: 12px Arial, Helvetica, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/antonignatov\/Sites\/marrow\/static\/styles\/scss\/perfapp\/main\.scss}line{font-family:\000035}}
.b-info {
  float: left;
  width: 25%;
  font-size: 11px;
}
